<div>
    <h2>Récapitulatif des données saisies :</h2>
    <p><strong>Nom :</strong> {{ formData.nom }}</p>
    <p><strong>Prénom :</strong> {{ formData.prenom }}</p>
    <p><strong>Adresse :</strong> {{ formData.adresse }}</p>
    <p><strong>Code postal :</strong> {{ formData.cp }}</p>
    <p><strong>Ville :</strong> {{ formData.ville }}</p>
    <p><strong>Téléphone :</strong> {{ formData.tel }}</p>
    <p><strong>Email :</strong> {{ formData.email }}</p>
    <p><strong>Civilité :</strong> {{ formData.civilite }}</p>
    <p><strong>Mot de passe :</strong> {{ formData.password }}</p>
    <p><strong>Login :</strong> {{ formData.login }}</p>
    <p><strong>Pays :</strong> {{ formData.pays }}</p>
</div>